<p>@ViewBag.intentos</p>
<p>Letras usadas</p>
<p>poner letras en mayus</p>
@{
    
    foreach(char char1 in ViewBag.letras)
    {
        <p>@char1</p>
    }
}
<p>Palabra: @ViewBag.palabra</p>
<p>Acertadas: @ViewBag.acertadad</p>
<form Action='@Url.Action("ahorcadoChar", "Home")' method="get">
Arriesgar Letra: <input type="text" name="charArriesgado" maxlength="1">
<button type="submit">Enviar Letra</button>
</form>
<br>
<form Action='@Url.Action("ahorcadoString", "Home")' method="get">
Arriesgar Palabra: <input type="text" name="stringArriesgado" style="text-transform:uppercase">
<button type="submit">Enviar Palabra</button>
</form>
